.child-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: white;
  padding: 15px;
  align-items: start;
}
.child-description{
    text-align: justify;
}
.child-h1{
    font-size: 3rem;
}
.child-card-author-date{
    font-size: 1rem;
    
}
.info{
    font-size: 1rem;
    font-family: "inter",sans-serif;
}