@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  padding: 30px 86px;
  background-color: #ff5b10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 9px;
}
.img-container {
  width: 572px;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
}
.img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.card {
  padding: 24px 30px 36px;
  display: flex;
  border-radius: 10px;
  font-family: cursive;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 350px;
  text-align: center;
  gap: 10px;
}
.title,
.author {
  color: #ff5b10;
  font-weight: 600;
}
.description {
  font-family: "jost";
}
.description a {
  text-decoration: none;
  color: black;
}
.description a:hover {
  color: #ff5b10;
}

.hero-section-corousal {
  padding: 20px 86px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  align-items: center;
}

.img-card {
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
  padding: 24px 30px 36px;
  display: flex;
  font-size: x-large;
  position: absolute;
  top: 400px;
  left: 550px;
  border-radius: 10px;
  font-family: cursive;
  flex-direction: column;
  background-color: white;
  gap: 10px;
}
.mega-menu li {
  flex-direction: row;
}

.cards-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: hidden;
  height: 1800px;
}

.cards-section a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 357px;
  height: 431px;
}

.card-img {
  width: 357px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
}
.card-details {
  flex-direction: column;
  gap: 10px;
  padding: 22px 25px;
  background-color: white;
  display: flex;
  border-radius: 10px;
  margin: 0 17px;
  position: absolute;
  top: 230px;
  height: 200px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
}

.tag {
  border-radius: 3px;
  background: #ff5b10;
  position: absolute;
  margin: 10px;
  top: 0;
  color: white;
  padding: 5px 10px;
  font-size: 10px;
  font-family: "inter";
  text-transform: uppercase;
}

.card-title {
  font-family: "jost", sans-serif;
}
.card-title:hover {
  color: #ff5b10;
}
.card-author-date,
.card-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: #979797;
}
.cards-section .author {
  font-weight: 600;
}
.card-description {
  color: #626262;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.imgg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main {
  display: flex;
  padding: 30px 86px;
  gap: 20px;
}

.child-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: white;
  padding: 15px;
  align-items: start;
}
.child-description {
  text-align: justify;
}
.child-h1 {
  font-size: 3rem;
}
.child-card-author-date {
  font-size: 1rem;
}
.info {
  font-size: 1rem;
  display: flex;
  margin-top: 10px;
  gap:5px;
  font-family: "inter", sans-serif;
}

#share-button .fa-solid{
  margin-top: 2px;
 
}
#share-button:hover{
  cursor: pointer;

}
#share-button{
  margin-left:auto;
  display: flex;
  text-align: center;
  justify-content: center;
  gap:5px;
}

.dummy-img{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.dummy-img > img{
  object-fit: cover;
}

@media screen and (max-width: 450px) {
  .hero-section-corousal {
    padding: 10px 20px;
    display: block;
  }
  .img-container > img {
    border-radius: 10px 10px 0 0;
  }
  .img-container {
    width: 100%;
    filter: none;
  }
  .img-card {
    filter: none;
    position: static;
    padding: 10px;
    left: 0;
    border-radius: 0 0 10px 10px;
  }
  .img {
    height: 300px;
  }

  .hero-section {
    padding: 10px 20px;
  }

  .card {
    width: 100%;
  }
  main {
    display: block;
    padding: 10px 20px;
  }
  .wrapper {
    width: 100%;
    margin: 15px 0;
  }

  .cards-section {
    width: 100%;
  }

  .cards-section a {
    width: 100%;
  }
  .card-img {
    width: 100%;
  }

  aside {
    width: 100%;
  }

  .child-h1 {
    font-size: 1.5rem;
  }

  .dummy-img{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
  }
  .dummy-img > img{
    width: 100%;
    border-radius: 10px;

  }
}

