/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");

/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set general background color for the page */
html {
  background-color: #f6f6f6;
}
#logo {
  display: none;
}
/* Main container styling */
#container {
  height: 90px;
  width: 1070px;
  margin-top: 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
  padding: 0 30px;
  display: flex;
  justify-content: space-evenly;
}

/* Styling for the main navigation */
.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  display: flex;
  gap: 20px; /* Use 'gap' instead of 'grid-gap' */
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
}
.hoverUl li a {
  font-family: "Jost", sans-serif;
  font-size: 12px;
}
#inner .hoverUl {
  display: none;
}

.dropdown:hover #our-work-uls {
  display: flex;
}
.dropdown:hover #our-service-uls {
  display: flex;
}

/* Styling for navigation links */
.nav a {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  font-weight: 700; /* Use font-weight 700 for bold */
  font-size: 14px;
  text-transform: uppercase;
}

/* Styling for list items in the navigation */
.nav li {
  list-style: none;
  height: 100%;
  display: flex;
}
#mobile-mega-menu ul {
  display: none;
}
#mobile-mega-menu a i {
  display: none;
}
/* Styling for navigation sub-menus */
.nav .sub-nav {
  position: absolute;
  flex-direction: column;
  height: auto;
  display: none;
  z-index: 1;
  width: 135px;
  top: 110px;
}
.mega-menu .sub-nav li a {
  color: black;
}
.mega-menu .sub-nav li p:hover {
  color: #ff580c;
}
/* Display sub-menu on hover */
.nav-li:hover .sub-nav {
  display: flex;
}

/* Change link color on hover */
.nav-li a:hover {
  color: #ff580c;
}

/* Styling for mega-menu */
.mega-menu .sub-nav {
  flex-direction: row;
  width: auto;
  align-items: baseline;
  background-color: white;
  margin-inline: -200px;
}

.mega-menu .sub-nav li a {
  flex-direction: column;
  width: 150px;
  align-items: baseline;
}

/* Styling for navigation images */
.nav-img {
  border-radius: 5px;
  object-fit: cover;
  position: relative;
}

/* Styling for mega-menu navigation titles */
.mega-menu .nav-title {
  position: absolute;
  color: white;
  margin: 5px;
  background-color: #ff580c;
  border-radius: 3px;
  padding: 5px;
  font-size: xx-small;
}

aside {
  width: 450px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
.popular-posts {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.03);
}
.img-post {
  position: relative;
  padding: 15px;
}
.img-post-detail {
  color: whitesmoke;
  padding: 20px;
  bottom: 10px;
  position: absolute;
  inset: 9 -12 15px 10px;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.post-title {
  background-color: #ff580c;
  padding: 3px 4px;
  text-transform: uppercase;
  font-size: 8px;
  height: 15px;
}
span {
  font-family: "inter", sans-serif;
}
.post-description {
  font-family: "Jost", sans-serif;
}
.post-author,
.post-date {
  color: #d5d5da;
  font-weight: 500;
  font-size: 12px;
}
.card-post-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.popular-post-text {
  font-family: "jost", sans-serif;
  display: block;
  margin-inline: 15px;
  margin-top: 15px;
}
.card-posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px 5px;
}
.flex {
  display: flex;
  gap: 10px;
}
.post-description a {
  text-decoration: none;
  color: black;
}
.img-post-detail .post-description a {
  color: rgb(255, 255, 255);
}

.img-post-detail .post-description:hover,
.post-description:hover {
  color: #ff580c;
  cursor: pointer;
}
.load-btn {
  display: flex;
  height: 32px;
  font-size: 14px;
  color: black;
  align-items: center;
  gap: 5px;

  padding: 0 20px 0 25px;
  border: 1px solid rgba(155, 155, 155, 0.15);
  background: #ffffff;
  transition: all 0s ease;
}
.load-btn:hover {
  cursor: pointer;
  background-color: #ff580c;
  color: white;
}
.wrapper {
  width: 90%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > #mobile-nav {
  display: none;
}
a {
  text-decoration: none;
  color: black;
}

ul .is-active {
  display: none;
}

#mobile-subnav {
  display: none;
}
footer ul li a:hover {
  color: #ff580c;
}
.footer-span a {
  color: #1a73e8;
  font-weight: 700;
}

footer {
  display: flex;
  font-family: "inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px 86px;
  justify-content: space-between;
}
.footer-navbar ul li {
  list-style: none;
}
.footer-navbar ul {
  display: flex;
  gap: 20px;
}

.cat-container ul li {
  list-style: none;
  font-family: "inter", sans-serif;
  display: flex;
  font-size: 14px;
  padding: 5px;
  color: #979799;
  line-height: 19px;
  justify-content: space-between;
}
.cat-container ul li a:hover {
  color: #ff580c;
}
.cat-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Jost", sans-serif;
  padding: 15px;
}
.cat-title {
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
.nav-li:nth-child(5) {
  cursor: default;
}
.card-posts li {
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  text-decoration: underline;
}
.card-posts li a:hover {
  color: #ff580c;
}

.popup-card {
  width: 400px;
  z-index: 2;
  height: 220px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 13px;
  position: fixed;
  left: 0;
  right: 0;
  top: 200px;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.062);
}

#cookieSvg {
  width: 50px;
}

#cookieSvg g path {
  fill: rgb(97, 81, 81);
}

.cookieHeading {
  font-size: 1.2em;
  font-weight: 800;
  color: rgb(26, 26, 26);
}

.cookieDescription {
  text-align: center;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(99, 99, 99);
}

.cookieDescription a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246);
}

.cookieDescription a:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.acceptButton {
  width: 80px;
  height: 30px;
  background-color: #ff580c;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.6s ease;
}

.declineButton {
  width: 80px;
  height: 30px;
  background-color: #dadada;
  transition-duration: 0.2s;
  color: rgb(46, 46, 46);
  border: none;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.6s ease;
}

.declineButton:hover {
  background-color: #ebebeb;
  transition-duration: 0.2s;
}

.acceptButton:hover {
  transition-duration: 0.2s;
  color: black;
}

.slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 450px) {
  #container {
    display: none;
  }

  #mobile-subnav {
    display: flex;
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: -100%;
    transition: ease-in-out 0.5s;
  }
  .dropdown ul {
    padding: 10px;
  }
  #mobile-subnav ul li a {
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
  }
  #our-service-subnav > #our-service-uls li a,
  #our-work-subnav > #our-work-uls li a {
    font-family: "Inter", sans-serif;
  }
  #our-service-subnav > #our-service-uls,
  #our-work-subnav > #our-work-uls {
    padding: 10px;
  }
  #mobile-subnav ul {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    gap: 10px;
    box-shadow: none;
    padding: 0;

    justify-content: flex-start;
    align-items: flex-start;
  }
  #mobile-subnav ul li {
    height: auto;
    font-family: "jost", sans-serif;
    width: 100%;
  }
  #mobile-subnav ul li a:hover,
  .mobile-nav a:hover {
    color: #ff580c;
    cursor: pointer;
  }

  #our-service-subnav,
  #our-work-subnav {
    flex-direction: column;
  }
  footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
  }
  .mobile-nav-lis span {
    font-family: "Jost", sans-serif;
  }
  #our-service-uls li a,
  #our-work-uls li a {
    font-weight: 200;
  }
  .mobile-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mobile-nav-lis {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
  }
  .nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav > #mobile-nav {
    display: flex;
    width: 100%;
    margin: 30px 20px 0;
    height: 90px;
    justify-content: space-between;
  }
  .popup-card {
    width: 350px;
    height: 230px;
    top: 500px;
  }
}
